<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap4.min.css" rel="stylesheet"
  /> {{!-- Header --}}

  <link rel="stylesheet" type="text/css" href="sidebar.css">

   {{> header }}
</head>

<body>

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">InvenTío</h1>
      <p class="lead">Manage your invetory-- fast.</p>
    </div>

    <div class="row marketing">
      <div class="col-lg-6">
        <h2>Welcome Back</h2>
                <br>
        <h4> Get Started With a New Order </h4>
        <a href="createOrder">
        <img src="{{root}}/views/images/createneworder.png" width="100%%" height="350px" style="border-radius: 50%"/>
                <br>
        <h4>Review Your Past Orders </h4>
        <a href="order">
        <img src="{{root}}/views/images/orderHistor.png" width="100%%" height="350px" style="border-radius: 50%"/>
                <br>
        <h4> A Glance At Your Finances</h4>
        <a href="finance"><
        <img src="{{root}}/views/images/finance.png" width="100%%" height="350px" style="border-radius: 50%"/>

      </div>
    </div>
    {{!-- Container div end --}}
  </div>

  {{> footer-end }} {{!-- need to post on every page --}} {{!-- Needed for bootstrap --}}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script>
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
      });
  });
    </script>
</body>

</html>
