body {
	margin: 0;	
}
header{
    width: 100%;
}
$theme-colors:(
    "primary": #d95700
);

// Bootstrap Scss Files (or import only what needed)
@import "node_modules/bootstrap/scss/bootstrap";