<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <title>InvenTio | Smart Management</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/styles.css"> -->
</head>

<body>
    <!--Maybe container-fluid for non-fixed witdh -->
    <div class="container">
        <!--Begining of nav bar obj -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">InvenTío</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="products" id="navbarDropdown" data-toggle="dropdown">Products</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Product 1</a>
                            <a class="dropdown-item" href="#">Product 2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Product 3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--End of nav bar obj -->
        <!--Start of header (heading) -->
        <div class="jumbotron">
            <h1 class="display-4">Simple. Elegant. Awesome. Buy it, yo</h1>
            <p class="lead">An inventory management system that keeps track of products, orders, expenses, profits, sales, etc. for a distribution
                warehouse company that accepts and delivers orders to multiple stores. </p>

            <p class="lead">
                <a class="btn btn-primary btn-large" href="#" role "button">Learn more</a>
            </p>
        </div>
        <div class="row">
            <!-- col-small-12 assumes it will take up all 12 columns if there is not room for all 3 -->
            <!-- Look at bootstrap grid documentation for more examples -->
            <div class="col-sm-12 col-md-4">
                <!-- mb-4 = margin bottom will be 4 spaces -->
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Example text to check out a card example</p>
                        <a href="#" class="card-link">A link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Example text to check out a card example</p>
                        <a href="#" class="card-link">A link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Example text to check out a card example</p>
                        <a href="#" class="card-link">A link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-sm-4 mt-md-0">
            <div class="col-sm-12 col-md-8">
                <h3>An important heading</h3>
                <p class="lead">Using lead, which gives it this style, a semi-importand heading example</p>

                <p>A paragraph is a brief piece of writing that's around seven to ten sentences long. The paragraph form refers
                    to a group of sentences focusing on a single topic. There are three main parts of a paragraph: ... Supporting
                    sentences - details that relate to and support the topic sentence.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only five cent</p>


            </div>
            <div class="col-sm-12 col-md-4">

            </div>
        </div>
        <!-- Container div, everything in container above this div -->
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script> -->
</body>

</html>